html { height:100% }

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #4F4F4F;
  font-size: 69%;
  height:100%;
}

#header {
 height:40px;
}

#nav {
 float:left;
 width:220px;
 height:150px;
 margin:5px;
}

#map {
 height:95%;
 margin:5px;
}

#footer {
 clear:both;
 height:20px;
 margin-bottom:10px;
 text-align:right;
 color:#999999;
}
#footer a {
 color:#999999;
}


.linkOFF {
 color: darkblue
}

.linkON {
 color: white;
 background-color: darkblue
}

table#filters {
 border-collapse: collapse;
}
table#filters th,
table#filters td {
 border-top: 1px solid grey;
 border-bottom: 1px solid grey;
}