{% extends "admin/base_site.html" %}

{% block content %}
<div id="content-main">

{% if upload_errors %}
 
 <div id="upload_errors"><strong>An error occurred:</strong><br />
 <div style="font-family: Lucidatypewriter, monospace">{{ upload_errors|safe }}</div>
 </div>
{% else %}
 <p id="success">
 {{ success_msg }}
 </p>
{% endif %}


<p>Choose an excel workbook with counts to upload below.</p>
<form enctype="multipart/form-data" action="." method="post">
{% csrf_token %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Save" class="default" name="_save">
</form>
</div>

{% endblock %}
